@tailwind base;
@tailwind components;
@tailwind utilities;

#adminmenu img,
.wp-menu-image,
.wp-menu-image::before {
    border-style: none;
}

#coupon_urls {
    font-family: 'Epilogue', sans-serif;
    position: absolute;
    width: 100%;
    min-height: calc(100vh + 32px);
    top: 0;
    z-index: 1000;

    @apply p-4 
           bg-gray-200;
}

#coupon_urls .cp-select__multi-value__label {
    white-space: normal;
}

#coupon_urls .cp-select__clear-indicator,
#coupon_urls .cp-select__dropdown-indicator {
    @apply px-1
}

#coupon_urls .cp-select__control {
    @apply space-x-1 flex flex-row justify-between items-center min-h-10 text-left rounded-4 border-px border-gray-300 focus:border-blue-normal focus:outline-none cursor-default hover:cursor-pointer text-base select-none text-gray-650 bg-gray-100;
}

#coupon_urls .cp-select__multi-value {
    @apply bg-gray-150 rounded-4;
}

#coupon_urls .coupon-urls-header-illustration > svg {
        width: 80%;
    left: 8%;
    height: auto;
    top: -62%;
    position: relative;
}

#coupon_urls .coupon-urls-header-illustration.CouponToBeAddedNotificationMessage svg {
    top: -15%;   
}

#coupon_urls .coupon-urls-header-illustration.Redirection svg {
    top: -70%;
    width: 71%;
    left: 21%;
}

#coupon_urls .coupon-urls-header-illustration.CouponAddedToCartExtraNotificationMessage svg {
    top: -38%;
}